@charset "utf-8";
/* CSS Document */
.animal {
	width: 1200px;
	margin: 30px auto;
	overflow: hidden;
	
}
.animal img{
	float: left;
}
.animal h3{
	color:#001715;
	text-align: center;
	font-weight: bold;
}
.animal1{
	width: 28%;
	margin: 0px 15px 15px 15px
}
.animal2{
	width: 25%;
	margin: 0px 15px 15px 15px
}
.animal3{
	width: 30%;
	margin: 0px 15px 15px 15px
}
.boton2 ul li{
	width: 250px;
	height: 50px;
	list-style: none;
	float: left;
	background-color: #19B443;
	cursor: pointer;
	transition: background-color 1s;
	
}
.boton2 a{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
	
}
.boton2 ul li a{
	color:#ffffff;
	text-decoration: none;
	margin-right: 20px;
	font-size: 14px;
	cursor: pointer;
	margin-top: 50px;
}

