@charset "utf-8";
/* CSS Document */
h3 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.boton5 ul li{
	width: 250px;
	height: 50px;
	list-style: none;
	float: left;
	border-radius: 5em;
	background-color: #D80000;
	cursor: pointer;
	transition: background-color 1s;
	
}
.boton5 a{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
}
.boton5 ul li a{
	color:#ffffff;
	text-decoration: none;
	margin-right: 20px;
	font-size: 14px;
	cursor: pointer;
}
.boton5:hover{
	background-color: #888;
}

.boton5 h1{
	font-family: impact;
	text-align: center;
	color: red;
}
